<h1>Welcome to Cachella Events!</h1>
<% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
<% end %>

<%= link_to "Register", new_user_path  %>

<% if current_user  %>
  	
<% else %>
    <%= link_to "Login", login_path %>
<% end %>

