<!DOCTYPE html>	
<div class="overlay">
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<div class="links">


		</div>
	<div id="header"><h1>Welcome to Cachella Events!</h1></div>
	<% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
	<% end %>
	
</div>
